layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }

    swap_tiled_layout name="vertical" {
        tab max_panes=1 { pane; }
        tab { pane split_direction="vertical" { children; }; }
    }

    swap_tiled_layout name="horizontal" {
        tab max_panes=1 { pane; }
        tab { pane split_direction="horizontal" { children; }; }
    }
}
